<plugin name="Test">
	
	<global type="vm" version="1.1" author="Alessio Di Fazio" dependencies="">
		<![CDATA[This is a test plugin.]]>
	</global>
	
	<properties>
		
		<property id="test-0" name="property-1" default_value="1" min="1" max="1000">
			<![CDATA[Property 1. Min 1 Max 1000]]>
			<childs>
				<property id="test-1" name="property-1-1" default_value="1-1" min="1" max="2">
					<![CDATA[A sub property (1-1). Min 1 Max 2]]>
					<childs>
						<property id="test-2" name="property-1-1-1" default_value="1-1-1" min="1" max="10">
							<![CDATA[A sub property (1-1-1). Min 1 Max 10]]>
							<childs>
								<property id="test-3" name="property-1-1-1-1" default_value="1-1-1-1" min="1" max="1">
									<![CDATA[A sub property (1-1-1-1). Min 1 Max 1]]>
									<childs />
								</property>
								<property id="test-8" name="property-1-1-1-2" default_value="1-1-1-2" min="0" max="3">
									<![CDATA[A sub property (1-1-1-2). Min 0 Max 3]]>
									<childs />
								</property>

							</childs>
						</property>
					</childs>
				</property>	
			</childs>
		</property>
		
		<property id="test-4" name="property-2" default_value="2" min="0" max="3">
			<![CDATA[Property 2. Min 0 Max 3]]>
			<childs />
		</property>
		
		<property id="test-5" name="property-3" default_value="3" min="1" max="3">
			<![CDATA[Property 3. Min 1 Max 3]]>
				<childs>
					<property id="test-6" name="property-3-1" default_value="3-1" min="1" max="1">
						<![CDATA[A sub property (3-1). Min 1 Max 1]]>
						<childs>
							<property id="test-7" name="property-3-1-1" default_value="3-1-1" min="1" max="5">
								<![CDATA[A sub property (3-1-1). Min 1 Max 5]]>
								<childs />
							</property>
						</childs>
					</property>
				</childs>
		</property>
		
	</properties>
	
</plugin>
